* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background :black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*---------------------------- header--------------*/
.title {
    text-align: center;
   }
/*--------------------------- game grid------------*/
   section {
    display:grid;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem);
    grid-gap: 1rem;
    perspective: 800px;
}
/*---------------------------- cards--------------------*/

.slasherCard {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s ease;
    box-shadow: rgba(1, 0, 0, 0.176) 0px 5px 15px;
 
}
/*------------------- Placing front and back of cards on top of each other---*/
.front,
.back{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: white;
  backface-visibility: hidden;
  pointer-events: none;
}
/*----------- toggling cards ----------*/
.front {
    transform: rotateY(90deg);
  }      
  .toggleCard {
    transform: rotateY(180deg);
 
}
.slasherCard.flip {
    transform: rotateY(180deg);
  }










