* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background : black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*---------------------------- header--------------*/
.match {
    color: red;
}

/*-------------------------game-grid------------------*/

section {
    display:grid;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem);
    grid-gap: 1rem;
    perspective: 1000px;
}

/*-------------------------cards------------------*/
.slasherCard {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s ease;
 }

 .front,
.back{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: red;
  backface-visibility: hidden;
  pointer-events: none;
}
.front {
    transform: rotateY(180deg);
  }      
  .toggleCard {
    transform: rotateY(180deg);
 
}
.slasherCard.shake{
    animation: shake 0.35s ease-in-out;
   }
   @keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
   }
   







