* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background :white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*---------------------------- header--------------*/
h2 {
    color: red;
}







